# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Game Lucas Antoine.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Lucas M\RiderProjects\game\Game Lucas Antoine\.idea\.idea.Game Lucas Antoine\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
